<div class="eu-container">
    <div class="eu-main">
        <div id="eu-basic-container">
            <h3>${text.title}</h3>
            <div class="flex">
                <p>
                    ${text.description}
                    <a href="${options.url}" id="eu-info">${text.link}</a>
                </p>
                <div class="right">
                    <button id="eu-custom">${text.customize}</button>
                    <button id="eu-decline">${text.decline}</button>
                    <button id="eu-accept">${text.accept}</button>
                </div>
            </div>
        </div>
        <div id="eu-custom-container" class="hide">
            <h3>${text.customize_title}</h3>
            <p>
                ${text.customize_description}
                <a href="${options.url}" id="eu-info">${text.link}</a>.
            </p>
            <div>
                <button id="eu-accept-all">${text.accept_all}</button>
                <button id="eu-decline-all">${text.decline_all}</button>
            </div>
            <div>
                <label><input type="checkbox" disabled checked>${text.functional_cookies}</label>
            </div>
            <p class="description">${text.functional_cookies_description}</p>
            <div>
                <label><input type="checkbox" name="cookies" value="${options.analyticsValue}">${text.analytics_cookies}</label>
            </div>
            <p class="description">${text.analytics_cookies_description}.</p>
            <div>
                <label><input type="checkbox" name="cookies" value="${options.marketingValue}">${text.marketing_cookies}</label>
            </div>
            <p class="description">${text.marketing_cookies_description}.</p>
            <div class="right">
                <button id="eu-back">${text.cancel}</button>
                <button id="eu-save">${text.save}</button>
            </div>
        </div>
    </div>
</div>